* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #__next {
    height: 100%;
}

/* page */
#__next {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    min-width: 360px;
    max-width: 1365px;
    margin: 0 auto;
}


/* for multiple buttons */
.button-group {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.button-group > button {
    margin: 10px;
}

